body {
  font-family: Arial, sans-serif;
  background-color: #f7f9fc;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.pd-container {
  max-width: 1200px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.pd-buy-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.pd-feature-li {
  margin-left: 16px;
}

.pd-product-details {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.pd-product-slider {
  display: grid;
  height: 100%;
  width: 50%;
}

.pd-product-image-options img {
  height: 100px;
  width: 88px;
  margin: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 8px;
  background-color: #fff;
  border-radius: 5px;
}

.pd-product-image {
  flex: 1;
  background-color: #eee;
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 5px;
  height: 300px;
}
.pd-product-image img{
    height: 100%;
    width: 100%;
}



.pd-product-description {
  flex: 1;
  padding: 20px 20px 20px 40px;
}

.pd-product-title {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.pd-product-price {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
}

.pd-product-summary {
  font-size: 16px;
  margin-bottom: 20px;
}

.pd-product-features {
  font-size: 16px;
  margin-bottom: 20px;
}

.whatsapp-icon{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
  padding: 8px;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  z-index: 10;
}

@media (max-width: 768px) {
  .pd-product-details {
    flex-direction: column;
  }

  .pd-product-image {
    flex: none;
    width: 100%;
    margin-bottom: 20px;
  }
  .pd-product-description {
    padding: 20px;
  }
  .pd-container{
    width: 90%;
    margin: 50px auto;
  }
  .pd-product-slider{
    width: 100%;
  }

  .whatsapp-icon{
    position:fixed;
    width:60px;
    height:60px;
    bottom:20px;
    right:0px;
    padding: 8px;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index: 10;
  }

}
